{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Pedidos</title>
    <link rel="stylesheet" href="{% static 'Autenticacao/css/autenticado.css' %}">
</head>
<body>
    
    <header>
        <nav>
            <img class="logo" src="{% static 'Autenticacao/img/logo.png' %}" alt="">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Pedidos Aprovados</a></li>
                <li><a href="#">Pedidos Reprovados</a></li>
                <li><a href="#">Pedidos Pendentes</a></li>
            </ul>
        </nav>
    </header>

    <h1>Olá, Bom dia<br>Seja bem vindo Paulo Victor</h1>

    <div class="tabela">
        <table>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Setor</th>
                <th>Prioridade</th>
                <th>Data Limite</th>
                <th>Descrição</th>
                <th>Cotação</th>
                <th>Data da Solicitação</th>
                <th>Status</th>
                <th>Estágio</th>
                <th>Última Atualização</th>
                <th>-</th>
            </tr>
            <tr>
                <td>Paulo Victor</td>
                <td>paulo.victor@cabanaclube.com.br</td>
                <td>91 993233036</td>
                <td>TI</td>
                <td>Baixa</td>
                <td>10/05/2024</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nemo harum nobis laudantium voluptates beatae veniam dolor, perspiciatis officiis ullam dicta explicabo officia fugit dolorem dolore ab ut saepe commodi!</td>
                <td>arquivo.xlss</td>
                <td>04/05/2024 14:50</td>
                <td>Pendente</td>
                <td>1/4</td>
                <td>-</td>
                <td>
                    <button type="submit" class="aprovar">Aprovar</button>
                    <button type="submit" class="reprovar">Reprovar</button>
                </td>
            </tr>
        </table>
    </div>

</body>
    
</html>

