{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Pedidos</title>
    <link rel="stylesheet" href="{% static 'Autenticacao/css/autenticado.css' %}">
</head>
<body>
    
    <header>
        <nav>
            <img class="logo" src="{% static 'Autenticacao/img/logo.png' %}" alt="">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Pedidos Aprovados</a></li>
                <li><a href="#">Pedidos Reprovados</a></li>
                <li><a href="#">Pedidos Pendentes</a></li>
            </ul>
        </nav>
    </header>

    <h1>Olá, {{ saudacao }}<br>Seja bem-vindo {{ nome_usuario }}!</h1>

    <div class="tabela">
        <table>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Setor</th>
                <th>Prioridade</th>
                <th>Data Limite<span class="popup">data maxima que a solicitante espera que a solicitação seja atendida</span></th>
                <th>Descrição</th>
                <th>Cotação</th>
                <th>Data da Solicitação</th>
                <th>Status</th>
                <th>Estágio</th>
                <th>Última Atualização</th>
                <th>Ação</th>
            </tr>
            {% for dado in pagina.object_list %}
                <tr>
                    <td>{{dado.nome}}</td>
                    <td>{{dado.email}}</td>
                    <td>{{dado.telefone}}</td>
                    <td>{{dado.setor}}</td>
                    <td>{{dado.prioridade}}</td>
                    <td>{{dado.data_limite}}</td>
                    <td>{{dado.descricao}}</td>
                    <td>{{dado.arquivo}}</td>
                    <td>{{dado.data_pedido}}</td>
                    <td>{{dado.status}}</td>
                    <td>{{dado.estagio}}</td>
                    <td>{{dado.ultima_atualizacao}}</td>
                    <td>
                        <form action="{% url 'aprovar_dado' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="dado_id" value="{{ dado.id }}">
                            <button type="submit" class="aprovar">Aprovar</button>
                        </form>
                        <form action="{% url 'reprovar_dado' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="dado_id" value="{{ dado.id }}">
                            <button type="submit" class="reprovar">Reprovar</button>
                        </form>
                    </td>
                    
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="link-paginacao">
        <div class="tags_a">
            {% if pagina.has_previous %}
                <a class="anterior" href="{% url 'home' %}?page={{pagina.previous_page_number}}">Anterior</a>
            {% endif %}
            {% if pagina.has_next %}
                <a class="proximo" href="{% url 'home' %}?page={{pagina.next_page_number}}">Próximo</a>
            {% endif %}
        </div>
    </div>

    <h1>"{{ concelho }}"</h1>

</body>
    
</html>

