{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Pedidos</title>
    <link rel="stylesheet" href="{% static 'Autenticacao/css/autenticado.css' %}">
</head>
<body>
    
    <header>
        <nav>
            <img class="logo" src="{% static 'Autenticacao/img/logo.png' %}" alt="">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Pedidos Aprovados</a></li>
                <li><a href="#">Pedidos Reprovados</a></li>
                <li><a href="#">Pedidos Pendentes</a></li>
            </ul>
        </nav>
    </header>

    <h1>Olá, Bom dia<br>Seja bem vindo Paulo Victor</h1>

    <div class="tabela">
        <table>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Setor</th>
                <th>Prioridade</th>
                <th>Data Limite</th>
                <th>Descrição</th>
                <th>Cotação</th>
                <th>Data da Solicitação</th>
                <th>Status</th>
                <th>Estágio</th>
                <th>Última Atualização</th>
                <th>Ação</th>
            </tr>
            {% for dado in pagina.object_list %}
                <tr>
                    <td>{{dado.nome}}</td>
                    <td>{{dado.email}}</td>
                    <td>{{dado.telefone}}</td>
                    <td>{{dado.setor}}</td>
                    <td>{{dado.prioridade}}</td>
                    <td>{{dado.data_limite}}</td>
                    <td>{{dado.descricao}}</td>
                    <td>{{dado.arquivo}}</td>
                    <td>{{dado.data_pedido}}</td>
                    <td>{{dado.status}}</td>
                    <td>{{dado.estagio}}</td>
                    <td>{{dado.ultima_atualizacao}}</td>
                    <td>
                        <button type="submit" class="aprovar">Aprovar</button>
                        <button type="submit" class="reprovar">Reprovar</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

</body>
    
</html>

