{% extends 'autenticado.html' %}


{% block titulo %}
<title>Cabana | Pedidos Aprovados</title>
{% endblock %}


{% block tabela %}
<div class="tabela">
    <table class="sortable">
        <tr>
            <th style="width: 35px;">Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Setor</th>
            <th style="width: 80px;">Prioridade</th>
            <th>Data Limite<span class="popup">data maxima que a solicitante espera que a solicitação seja atendida</span></th>
            <th style="width: 250px;">Descrição</th>
            <th>Data da Solicitação</th>
            <th>Status</th>
            <th style="width: 50px;">Estágio</th>
            <th>Última Atualização</th>
        </tr>
        {% for index, dado in pagina.object_list %}
            <tr>
                <td>{{ index }}</td>
                <td>{{dado.nome}}</td>
                <td>{{dado.email}}</td>
                <td>{{dado.telefone}}</td>
                <td>{{dado.setor}}</td>
                <td>{{dado.prioridade}}</td>
                <td>{{dado.data_limite}}</td>
                <td>{{dado.descricao}}</td>
                <td>{{dado.data_pedido}}</td>
                <td>{{dado.status}}</td>
                <td>{{dado.estagio}}</td>
                <td>{{dado.ultima_atualizacao}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}


{% block paginacao %}
<div class="link-paginacao">
    <div class="tags_a">
        {% if pagina.has_previous %}
            <a class="anterior" href="{% url 'pedidos_aprovados' %}?page={{pagina.previous_page_number}}">Anterior</a>
        {% endif %}
        {% if pagina.has_next %}
            <a class="proximo" href="{% url 'pedidos_aprovados' %}?page={{pagina.next_page_number}}">Próximo</a>
        {% endif %}
    </div>
</div>
{% endblock %}