<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabana | Novo Pedido</title>
    <link rel="stylesheet" href="{% static 'Pedido/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'Pedido/img/favicon.ico' %}" type="image/x-icon">
</head>
<body>

    <div class="fazer-login">
        <a class="login" href="{% url 'autenticacao' %}" target="_blank">Fazer Login</a>
    </div>
    
    <section>
        <div class="card-envio">
            <img src="{% static 'Pedido/img/logo.png' %}" alt="logo-cabana">

            <h1>Ordem de Compra</h1>

            <p>Prático e eficaz, este formulário de pedido de compra foi projetado para simplificar o processo de solicitação de compra do Cabana Clube. Preencha os campos e selecione os itens desejados para enviar sua solicitação.</p>

            <form action="{% url 'mostra_form' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="inputs">
                    <p>Nome Completo<span>*</span></p>
                    <input type="text" name="nome" placeholder="Insira seu nome" required>
                </div>
                <div class="inputs">
                    <p>E-mail Corporativo<span>*</span></p>
                    <input type="email" name="email" placeholder="Insira seu e-mail" required>
                </div>
                <div class="inputs">
                    <p>Telefone<span>*</span></p>
                    <input type="tel" name="telefone" placeholder="Insira seu telefone" required>
                </div>
                <div class="inputs">
                    <p>Setor da Empresa<span>*</span></p>
                    <select name="setor" required>
                        <option value="" disabled selected>Selecione o seu setor</option>
                        <option value="Alimentos e Bebidas">Alimentos e Bebidas</option>
                        <option value="Esportes e Academia">Esportes e Academia</option>
                        <option value="Eventos">Eventos</option>
                        <option value="RH e Financeiro">RH e Financeiro</option>
                        <option value="Infraestrutura">Infraestrutura</option>
                        <option value="Portaria">Portaria</option>
                        <option value="TI | Marketing | Recepção">TI | Marketing | Recepção</option>
                    </select>
                </div>
                <div class="inputs">
                    <p>Prioridade<span>*</span></p>
                    <select name="prioridade" required>
                        <option value="" disabled selected>Selecione a prioridade</option>
                        <option value="Baixa">Baixa (Mais de 30 dias)</option>
                        <option value="Média">Média (Entre 15 e 30 dias)</option>
                        <option value="Alta">Alta (Até 7 dias)</option>
                    </select>
                </div>
                <div class="inputs">
                    <p>Data Limite<span>*</span></p>
                    <input type="date" name="data_limite" placeholder="Insira a data limite de aquisição" required>
                </div>
                <div class="descricao">
                    <p>Qual sua Justificativa para essa solicitação?<span>*</span></p>
                    <textarea required id="descricao" name="descricao" placeholder="Insira a sua justificativa"></textarea>
                </div>

                <input class="btn-enviar" type="submit" value="Enviar">
            </form>
        </div>
    </section>

    {% if messages %}
    <div class="mensagem-confirmacao" id="mensagemConfirmacao">
        <h2>Pedido Enviado!</h2>
        <p>{% for message in messages %}{{ message }}{% endfor %}</p>
        <button onclick="fecharMensagem()">Fechar</button>
    </div>

    <script>
        // Exibe a mensagem de confirmação
        document.getElementById('mensagemConfirmacao').style.display = 'block';

        // Função para fechar a mensagem de confirmação
        function fecharMensagem() {
            document.getElementById('mensagemConfirmacao').style.display = 'none';
        }
    </script>
    {% endif %}
    
</body>
</html>
