<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido de Compra</title>
    <link rel="stylesheet" href="{% static 'Pedido/css/style.css' %}">
</head>
<body>
    <section>
        <div class="card-envio">
            <img src="{% static 'Pedido/img/logo.png' %}" alt="logo-cabana">

            <h1>Ordem de Compra</h1>

            <p>Prático e eficaz, este formulário de pedido de compra foi projetado para simplificar o processo de solicitação de compra do Cabana Clube. Preencha os campos e selecione os itens desejados para enviar sua solicitação.</p>

            <form action="{% url 'mostra_form' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="inputs">
                    <p>Nome Completo<span>*</span></p>
                    <input type="text" name="nome" placeholder="Insira seu nome" required>
                </div>
                <div class="inputs">
                    <p>E-mail Corporativo<span>*</span></p>
                    <input type="email" name="email" placeholder="Insira seu e-mail" required>
                </div>
                <div class="inputs">
                    <p>Telefone<span>*</span></p>
                    <input type="tel" name="telefone" placeholder="Insira seu telefone" required>
                </div>
                <div class="inputs">
                    <p>Setor da Empresa<span>*</span></p>
                    <!-- <input type="text" name="setor" placeholder="Insira o seu departamento" required> -->
                    <select name="setor" required>
                        <option value="" disabled selected>Selecione o seu setor</option>
                        <option value="Alimentos e Bebidas">Alimentos e Bebidas</option>
                        <option value="Esportes e Academia">Esportes e Academia</option>
                        <option value="Eventos">Eventos</option>
                        <option value="RH e Financeiro">RH e Financeiro</option>
                        <option value="Infraestrutura">Infraestrutura</option>
                        <option value="Portaria">Portaria</option>
                        <option value="TI | Marketing | Recepção">TI | Marketing | Recepção</option>
                    </select>
                </div>
                <div class="inputs">
                    <p>Prioridade<span>*</span></p>
                    <input type="text" name="prioridade" placeholder="Insira a prioridade da solicitação" required>
                </div>
                <div class="inputs">
                    <p>Data Limite<span>*</span></p>
                    <input type="date" name="data_limite" placeholder="Insira a data limite de aquisição" required>
                </div>
                <div class="descricao">
                    <p>Qual sua Justificativa para essa solicitação?<span>*</span></p>
                    <textarea required id="descricao" name="descricao" placeholder="Insira a sua justificativa"></textarea>
                </div>
                <div class="descricao">
                    <p>Anexe a cotação do item a ser enviado</p>
                    <div class="espaco">
                        <label for="arquivo">Envie a Cotação!</label>
                        <input type="file" id="arquivo" name="arquivo" onchange="mostrarNomeArquivo()">
                        <div id="nomeArquivo"></div>
                    </div>
                </div>
                
                <input class="btn-enviar" type="submit" value="Enviar">
            </form>
        </div>

    </section>
    {% if mensagem %}
        <script>
            // Mostra um alerta com o nome enviado
            alert("{{ mensagem }}");
        </script>
    {% endif %}

    <script>
        // Aguarda o carregamento completo do documento HTML antes de executar o código JavaScript
        document.addEventListener("DOMContentLoaded", function() {
            // Função para exibir o nome do arquivo selecionado
            function mostrarNomeArquivo() {
                var input = document.getElementById('arquivo');
                var nomeArquivo = input.files[0].name;
                document.getElementById('nomeArquivo').innerText = 'Arquivo selecionado: ' + nomeArquivo;
            }
    
            // Adiciona um ouvinte de evento ao input de arquivo para chamar a função mostrarNomeArquivo() quando o arquivo é selecionado
            var inputArquivo = document.getElementById('arquivo');
            if (inputArquivo) {
                inputArquivo.addEventListener('change', mostrarNomeArquivo);
            }
        });
    </script>
    
</body>
</html>